extends layout

block content
    link(rel='stylesheet', href='/css/registro.css')

    body
        include nav
        .container

            header.card.text-center.mb-3.mt-3
                .card-header
                    a(href="/").inicio Sharic

            form(action="datosUsuario" method="post")#formulario
                h2= title
                .form-group
                    label(for="nombre").col-form-label Nombre
                    input(type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre").form-control
                    //small(id="passwordHelpInline" class="text-muted") Nombre de usuario.

                .form-group
                    label(for="descripcion").col-form-label Descripcion
                    input(type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion").form-control


                .row
                    input(type="submit" value="Registrar" name="Enviar").btn.btn-success
