
nav#menu
    ul
        //for item,i in ['', 'Perfil', 'Generos',"Chats"]
        li
            a(href='/') Inicio
        li
            a(href='/Perfil') Perfil
        li
            a(href='#') Generos
        li
            a(href='#') Chats

