extends layout

block content
    link(rel='stylesheet', href='/css/perfil.css')
    link(rel='stylesheet', href="/css/nav2.css")

    body
        include nav2
        .contenedorPerfil.container
            .informacion
                .imagen
                    img(src="../img/perfil2.png")
                .usuario
                    span= datos.nombre
                .cancion
                    p ULTIMA CANCION

                a(href="#")
                    span(class="fa fa-cog")
            .contenido
                .descripcion
                    h3 Descripcion
                    p= datos.descripcion
                .contenidoPerfil
                    .top
                        h4
                            a(href="/TopCanciones") Top Canciones
                        ul
                            if datos.canciones
                                for item in datos.canciones
                                    li
                                        a(href="#")= item
                    .playlist
                        h4
                            a(href="/Perfil/PlayList") PlayList
                        ul
                            if datos.playlists
                                for item in datos.playlists
                                    li
                                        a(href="#")= item
