#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #2F7340, #045080);
}

#menu ul {
    list-style-type: none;
    display: flex;

    margin: 0;
}

#menu ul li {
    display: flex;
    flex: 1;
}

#menu ul li a {
    text-align: center;
    flex: 1;

    padding: 1rem;
    color: #03030f;
}

#menu ul li a.active {
}

#menu ul li a:hover {

    background: red;
}

